@font-face {
    font-family: 'Raleway';
   
    src: url("fonts/static/Raleway-Medium.ttf") format("truetype")
        
    font-weight: normal;
    font-style: normal;
            }
*{
    font-family: Raleway;
}

body{
    padding: 15px 80px 0 80px;
    max-width: 1445px;


}

a{
    text-decoration: none;
    color: black;
}
.star, .star_most_wanted{
    color: #F2F2F2;
}
    .bluestar{
        color: #0065fc;
    }
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-content: flex-start;
    padding: 0px 60px 0 20px;
}
.header__logo{
    color: #0065FC;       
    width: 100px;
    height: 30px;
    object-fit: cover;

}
.header__logo-sub a{
    display: none;
}

.header__nav{       
    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;        
    width: 350px;
}
    
.header__nav_lodging {
                
    height: 100%;
text-decoration: none;
position: relative;                                     
}

.header__nav_lodging a {              
    display: block;                
    color: black;
    text-decoration: none;
}
.header__nav_lodging a:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: -50px;
    right: 100%;
    left: 0%;
    background: #0065FC;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.header__nav_lodging a:hover:after{
    width: 100%;
    left: 0%;
    right: 100%;
    background: #0065FC;
}
.header__nav_lodging a:hover{
                    color: #0065FC;
                }
                

            
            
.header__nav_act {
    
    height: 100%;
text-decoration: none;
position: relative;
}
.header__nav_act a{
    display: block;
    
    color: black;
    text-decoration: none;
    
}

.header__nav_act a:after{
        content: '';
        position: absolute;
        width: 0; height: 2px;
        display: block;
        margin-top: -50px;
        right: 100%;
        left: 0%;
        background: #0065FC;
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
    }

    .header__nav_act a:hover:after{
        width: 100%;
        left: 0%;
        right: 100%;
        background: #0065FC;
        color: #0065FC;
        font-weight: bold;
    }
    .header__nav_act a:hover{
                    color: #0065FC;
                }
                

.header__sub {
    height: 100%;                      
    text-decoration: none;
}
.header__sub a {
    font-weight: bold;
    color: #0065FC;
    display: block;
    text-decoration: none;
}
                

     
.search_all{
    margin-left: 19px;
   height: auto;
    width: auto;

    
    
}
    .search_all_text{
        
        height: auto;
    }
        .search_all-h2{
        
            

        }
        .search_all-p{
        margin-top: -15px;
        }
#search{
    border: none;
    padding-left: 0;
}

                            

.search__locate{
    
    display: flex;
    
    background: #f2f2f2;
         
        width: 347px;
        height: 40px;
        border-radius: 20px;
        text-align:center;   
        justify-content: flex-start;
    align-items: center;
   
    margin-bottom: 30px;
}
    #search__locate_icon{
        color: black;
        padding-right: 10px;
        padding-left: 10px;
       
        
    }
    .search__locate_form{
        

    }

    .search__locate_field{
        border: none;
        width: 200px;
        height: 35px;

    }
        .search__locate_button{
            background-color: #0065fc; 
            border: none;
            color: white;
            padding: 2px 20px;
            height: 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 0px 5px 5px 0px;
            font-size: 18px; 
            
            
        }
    


                           
 .filter-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    height: auto;
    
    
    

 }

    .search__filter_title{
        font-size: 18px;
        
        margin-right: 20px;
        


    }
    .search__filter-container{
        height: 50px;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-around;
        align-content: space-between;
        
    }
    .search__filter{
        display: flex;
        border: 3px solid #F2F2F2;
        border-radius: 30px;
        position: relative;
        align-items: center;
        
    }

        .search__filter-icon{
            color: #0065FC;
            width: 16px;
            height: 16px;
            padding: 16px 16px;
            background-color: #DEEBFF;
            border-radius: 50%;
            
            list-style: none;
        }

        .search__filter-title{
            font-weight: bold;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 18px;
            list-style: none;
            

        }

   


                                    
                            
     .search__filter a:link, .search__filter a:visited  { 
      
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      color: black;
    }

   .search__filter:hover, .search__filter:active  {
        
      background-color: #0065fc;
      color: white;
      

    }

    

                                

i :not(.search__locate_icon)
{
    color: #0065fc;
}

#search__info
{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    
}


    #search__info_icon
    {
        font-size:12px;

        background: #ffffff;
        border: 1px solid #f2f2f2;
        width: 10px;
        height: 10px;
        padding: 5px;
        line-height: 10px;
        border-radius: 50%;
        text-align: center;
        margin-top: 7px;
        color: #0065fc;
    }

    #search__info_text
    { 
     padding-left: 8px; 
     font-size: 12px;
     
    }








.lodging{
    display: flex;
    justify-content: space-around;
    
   

}
    .lodging__grid{
        background: #f2f2f2;
        width: 65%;
        line-height: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        height: 623px;

    }  
        .lodging__grid_title{    
            margin-left: 3%;
            padding-top: 20px;
        }
            .lodging__grid_tile_container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                height: 100%;                
                margin-top: -1%;
                    
            }
                .lodging__grid_tile{
                    display: flex;
                    flex-direction:column;
                    margin: auto;                    
                    width: 247px;
                    height: 200px;
                    background: #ffffff;
                    border-radius: 20px;
                    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.49);                   
                }  
                    .lodging__grid_tile_image_container{
                        width: 236px;
                        height: 120px;
                       
                        margin-left: 2%;
                        margin-top: 2%;
                        border-radius: 20px 20px 0% 0%;
                        
                    }
                        .lodging__grid_tile_image{
                            width: 236px;
                            height: 120px;
                            object-fit: cover;
                            border-radius: 20px 20px 0% 0%;


                        }
                    .lodging__grid_tile_annex{                   
                       margin-left: 17px;
                       margin-top: 3%;                        
                    }

                        .lodging__grid_tile_annex > h2{
                           margin:2px;
                           white-space: nowrap;
                           font-size: 18px;
                           margin-bottom: 2px;
                        }
                        .lodging__grid_tile_annex > p{
                           margin:2px;
                        }
                    
                    .lodging__grid_tile_notation > i{
                        font-size: 10px;

                    }
        .lodging__grid_show_more{
            margin-left: 5%;
            font-size: 20px;
            margin-top:3% ;
            margin-bottom:3%;
        }
                    
    .lodging__most_wanted{
         background: #f2f2f2;         
         width: 30%;
                
          line-height: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        
        align-content: space-between;
        
    }   
    .lodging__most_wanted_title{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    
    margin-top: 20px;

        
    }     
        .lodging__most_wanted_title > h2{
           margin-left: 30px;  
           
        }
            .lodging__most_wanted_title_icon > i{
                margin-top: 20px;
                margin-right: 30px;
                font-size: 20px;
            }

        .lodging__most_wanted_tile_container{
            height: 100%;
            
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 0 0;
       }

  
            .lodging__most_wanted_tile{
                background: #ffffff;
                display: flex;
                height: auto;
                width: auto;
                border-radius: 20px;
               box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.49);
               margin-bottom: 30px;
            }
                .lodging__most_wanted_tile_image{                    
                    width: 127px;
                   height: auto;                   
                    border-radius: 20px 0% 0% 20px;                   
                    object-fit: cover;                    
                    margin-left: 4px;
                    margin-top: 4px;
                    margin-bottom: 4px;
                }
                .lodging__most_wanted_tile_annex{                   
                    width: auto;                    
                    margin-left: 10px;                    
                }
                
                       .lodging__most_wanted_tile_title{                        
                        font-size: 17px;
                        flex-wrap: nowrap; 

                       } 
                       .lodging__most_wanted_tile_title_long{
                        font-size: 17px;
                       }
                       .lodging__most_wanted_tile_annex > p{
                            
                            margin-top: -10px;
                       }
                       .lodging__most_wanted_tile_notation {
                            
                            margin-top: 20%;

                       }

                      
.act{
    display: flex;
    justify-content: space-around;
    flex-direction: column;  
     
    
}
    .act__title{
       
         padding-left: 5%;
         align-items: flex-start;
         
         
    }
        .act__title > h2{
            margin-left: -15px;
            height: auto;
            
        }

.act__grid{
    
    height: 507px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    
    

    }   
    
        .act__grid_tileB, .act__grid_tileB2{
           width: 290px;
           height:444px;
           
           box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.49);
           border-radius: 20px;
           background: #ffffff;
                     
        } 
        .act__grid_tileB{
            margin-left: 2%;
        }

            .act__grid_tileB_image{
                width: 100%;
                height: 390px;
                border-radius: 20px 20px 0% 0%;
                object-fit: cover;
                
            }  
                
            .act__grid_tileB_text{
                margin-top: -5%;
                padding-left: 3%;
                
                white-space: nowrap;
                font-size: 12px;


            }
        .act__grid_tilesS, .act__grid_tilesS2{
            width: 290px;
           height:443px;
           display: flex;
           flex-wrap: wrap;
           align-content: space-between;
                     
        }   
        .act__grid_tilesS2{
            margin-right: 1%;
        
        }
            .act__grid_tile_medium{
                height: 236px;
                width: 290px;
                box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.49);
                border-radius: 20px;
                background: #ffffff;
                
                margin-left: -1px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
              
                .act__grid_tile_medium_image{
                    height: 180px;
                    width: 290px;
                    border-radius: 20px 20px 0% 0%;
                    object-fit: cover;
                } 
                .act__grid_tile_medium_text{
                    margin-top: -5%;
                    padding-left: 3%;
                    
                    white-space: nowrap;
                    font-size: 12px;
                    
                }   
            .act__grid_tile_small, .act__grid_tile_small2{
                height: 164px;
                width: 290px;
                box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.49);
                border-radius: 20px;
                
                margin-left: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
                margin-right: 1px;
               
            }
            .act__grid_tile_small2{
                
            }
                .act__grid_tile_small_image{
                    height: 109px;
                    width: 290px;
                    object-fit: cover;
                    border-radius: 20px 20px 0% 0%;
                } 
                .act__grid_tile_small_text{
                     margin-top: -5%;
                    padding-left: 3%;
                    
                    white-space: nowrap;
                    font-size: 12px;
                }

.footer{
    height: auto;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0px;
    
    
}
    .footer__text{
        
        display: flex;
        justify-content: space-around;
        


    }

        .footer__text > a:hover{
            color: black;
        }
        .footer__text_about{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }  
            .footer__text_about li{
               list-style: none;
               text-decoration: none; 
            }
        .footer__text_lodging{
            display: flex;
            flex-direction: column;
           
            
        }    
            .footer__text_lodging li{
               list-style: none; 
               text-decoration: none;
            }         
        .footer__text_assist{
            display: flex;
            flex-direction: column;
            
        
        }
            .footer__text_assist li{
               list-style: none; 
               text-decoration: none;
            }  
            

            .footer__text a {
                list-style: none; 
               text-decoration: none;
               color: black;
            }


@media (max-width: 767px){
body{
    padding: 0px;
    margin: 0px;

}
  
  
    .header{
        display: flex;
        flex-direction: column;
        padding: 0 0px;
          
        
    }
        .header__logo-sub{
            display: flex;
            justify-content: space-between;
        }
            .header__logo-sub a{
               font-weight: bold;
                color: #0065FC;
                display: block;
                text-decoration: none;
                margin-right: 25px;
            }
        .header__nav{
            margin: 15px 0 0 0;
            width: 100%;
            justify-content: space-between;
            border-bottom: 3px solid #f2f2f2;
            padding-left: 0px;
            
        }
            .header__nav_lodging {
                width: 50%;
                text-align: center;
                
            }
            .header__nav_lodging >a {
                width: 100%;
                
                left: 0;
                margin: 0px 0px;
                padding-bottom: 10px;

            }
            .header__nav_lodging a:after{
                    content: '';
                    position: absolute;
                    width: 0; height: 3px;
                    display: block;
                    margin-top: 10px;
                    
                    left: 0;
                    background: #0065FC;
                    transition: width .2s ease;
                    -webkit-transition: width .2s ease;
                }

                .header__nav_lodging a:hover:after{
                    width: 100%;
                    left: 0;
                    
                    background: #0065FC;
                }
                .header__nav_lodging a:hover{
                    color: #0065FC;
                }
        

            .header__nav_act{
                width:50%;
                margin-right: 0px;
                text-align: center;
                        
            }
                .header__nav_act a{
                    
                    width: 100%;
                    padding-bottom: 10px;
                }

            .header__nav_act a:after{
                    content: '';
                    position: absolute;
                    width: 0; height: 3px;
                    display: block;
                    margin-top: 10px;
                    
                    left: 0%;
                    background: #0065FC;
                    transition: width .2s ease;
                    -webkit-transition: width .2s ease;
                }

                .header__nav_act a:hover:after{
                    width: 100%;
                    left: 0%;
                    
                    background: #0065FC;
                }
                .header__nav_act a:hover{
                   color: #0065FC; 
                }
            

        .header__sub{
            position: absolute;
            top: 15px;
            right: 60px;
        }

    .search_all{
        margin-left: 0;
        width: auto;
        height: auto;
         
       
    }
    .search_all-h2{
        font-size: 17px;
    }
        .search__locate{
            width: 294px;
        }
        .search__locate_button{
            display: none;
        }
            .search__locate_button-mobile{
                background-color: #0065fc; 
            border: none;
            color: white;
            padding: 2px 20px;
            height: 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 0px 5px 5px 0px;
            font-size: 18px; 
            }
            
   .filter-section{
        width:320px;
        flex-direction: column;        
        height: 300px;
    }
    .search__filter_title{
        width: 70px;
        height: auto;
        margin: 0%;
        
        margin-bottom: 20px;
        margin-top: 20px;

    }
   .search__filter-container{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;

   }
    
        .search__filter{
            margin-bottom: 5px;
            height: 50px;
        }
        .search__filter-title{
            font-size: 15px;
            margin-left: 0px;
            padding-left: 5px;
        }
        .search__info_icon{

        }

    .lodging{
        justify-content: space-around;
        display: flex;
        flex-direction: column-reverse;
    }
        .lodging__grid{
            width: 100%;
            background: #ffffff;
            height: auto;
            
        }
            .lodging__grid_title{
                padding-top: 38px;
                padding-bottom: 18px;
                margin-left: 35px;
                
            }

            .lodging__grid_tile_container{
                width: 100%;
                height: auto;
                justify-content:flex-start;
                display: block;
                align-content: space-around;
                flex-direction: row;
                flex-wrap: nowrap;

                
            }
            .lodging__grid_tile{
                width: 310px;
                height: auto;
                margin-bottom: 30px;


            }
                .lodging__grid_tile_image_container{
                    width: 304px;
                    height: 114px;
                    margin-top: 0px;
                }
                .lodging__grid_tile_image{
                    object-fit: cover;
                }
                
        .lodging__most_wanted{
            width: 100%;
            margin: 0 0 0 0;
            border-radius: 0%;
            
        }
            .lodging__most_wanted_title > h2{
                margin-left: 40px;
            }
            .lodging__most_wanted_tile_container{
                justify-content: center;
                
                width: 100%;
                
                
                
            }
                .lodging__most_wanted_tile{
                    height: 143px;
                    width: 90%;
                    margin-left: 15px;
                }
                    .lodging__most_wanted_tile_title_long{
                        font-size: 16px;
                    }
                    
            
                    .lodging__most_wanted_tile_notation{
                        margin-top: 0px;
                    }
                .lodging__grid_show_more {
                    margin-left: 74px;
                }


    .act__grid{
        flex-wrap: wrap;
        align-content: space-between;
        height: auto;
        width: auto;
        justify-content: space-around;
        margin-bottom: 50px;
        
    }
        .act__title h2{
            margin-top: 5%;
            margin-left: 40px;
        }
        .act__grid_tileB, .act__grid_tileB2, .act__grid_tile_medium, .act__grid_tile_small, .act__grid_tile_small2{
            margin-bottom: 10px;
        }
        .act__grid_tileB, .act__grid_tileB2{
            width: 310px;
            height: 198px;
            margin: 20px auto;
            
        }
        .act__grid_tileB{
            
        }
            .act__grid_tileB_image{
                width:100%;
                height:132px;
                object-fit: cover;
                
            }
            .act__grid_tilesS, .act__grid_tilesS2{
                width: 310px;
                height: 403px;
                
                justify-content: space-around;
                align-content: space-between;
                
            }
            .act__grid_tilesS2{
                
                
            }
        
      
            .act__grid_tile_medium_image{
                width: 100%;
                height:132px;
                object-fit: cover;
                 
            }
        .act__grid_tile_medium, .act__grid_tile_small, .act__grid_tile_small2{
             width: 310px;
            height: 198px;
            margin-left: 0px;
            margin-right: 0px;


        }
        .act__grid_tile_small2{
        
        }

            .act__grid_tile_small_image{
                width: 100%;
                height:132px;
                object-fit: cover;
                 
            }
.footer{width: 100%;}

    .footer__text{
        width: 100%;
        height: auto;
        flex-direction: column;
            }



}

@media (min-width : 768px) and (max-width : 1400px){
    body{
        margin: 0 0px;
        padding: 0 0px;
        

    }

    .header__nav{
        margin-right: 50px;
    }
        .header__nav_lodging a:after{
                    content: '';
                    position: absolute;
                    width: 0; height: 3px;
                    display: block;
                    margin-top: -36px;
                    right: 0%;
                    left: 0%;
                    background: #0065FC;
                    transition: width .2s ease;
                    -webkit-transition: width .2s ease;
                }

                .header__nav_lodging a:hover:after{
                    width: 100%;
                    left: 0%;
                    right: 55%;
                    background: #0065FC;
                }
        .header__nav_act a:after{
                    content: '';
                    position: absolute;
                    width: 0; height: 3px;
                    display: block;
                    margin-top: -36px;
                    right: 0%;
                    left: 0%;
                    background: #0065FC;
                    transition: width .2s ease;
                    -webkit-transition: width .2s ease;
                }

                .header__nav_act a:hover:after{
                    width: 100%;
                    left: 0%;
                    right: 55%;
                    background: #0065FC;
                }
        .search__filter-container{

            width:500px;
            height: auto;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
            .search__filter{
                margin-bottom: 5px;
                margin-right: 5px;
                height: 50px;
            }
    .lodging{
        display: flex;
       
        justify-content: space-between;
    }
        .lodging__grid{
            padding-bottom: 50px;
            height: 750px;
           
            

        }

            .lodging__grid_tile_container{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                height: 100%;

                
            }
                .lodging__grid_tile{
                    width: 236px;
                    margin-bottom: 20px;
                }
                    .lodging__grid_tile_image_container{
                        width: 225px;
                    }
            .lodging__grid_show_more {
                margin-top: 20px;
                margin-left: 0px;
                
            }
        
    .lodging__most_wanted{
        height: 800px;


        
    }
        .lodging__most_wanted_title{
            margin-top: -5px; 
        }   
        .lodging__most_wanted_tile_container{
           
            display: flex;
                flex-wrap: wrap;
                height: 89%;
                width:100%;
                margin-top: -10px;
                
        }
            .lodging__most_wanted_tile{
               background: #ffffff;
            display: flex;
            width: 90%;
            height: 200px;
            flex-direction: column;
            border-radius: 20px;
            box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.49);
            
            margin-left: 15px;


            }
                .lodging__most_wanted_tile_image{
                    width:100%;
                    height: 50%;
                    object-fit: cover;
                    margin-left: 0px;
                    margin-top: 0px;
                    margin-right: 0px;
                    border-radius: 20px 20px 0% 0%;
                }
                .lodging__most_wanted_tile_annex{
                    margin-top: -1%;
                     margin-top: -10px; 
                }   
                    .lodging__most_wanted_tile_title{

                     }
                        .lodging__most_wanted_tile_title_long{
                          
                            font-size: 15px;
                           
                        }
                    .lodging__most_wanted_tile_annex p{
                        margin-top: -11px;
                        
                    }
                   .star_most_wanted{
                      
                      margin-top: -11px;
                    }
                    .lodging__grid_tile_notation_except{

                    }

                #Activités{
                    
                    
                }
                    .act__grid{
                        
                        
                        height: auto;
                        width: 100%;
                        flex-flow: row wrap;
                        justify-content: space-evenly;
                    }
                        

        .act__title h2{
            margin-top: 5%;
            margin-left: 70px;
        }
        .act__grid_tileB, .act__grid_tileB2{
            width: 500px;
            height: 250px;
            border-radius: 20px;          
        }
            .act__grid_tileB_image{
                width:100%;
                height:70%;
                object-fit: cover;                
            }
                .act__grid_tileB_text{
                    margin-top: 3%;
                }
            .act__grid_tilesS, .act__grid_tilesS2{
                
                width: 100%;
                height: auto;
                flex-direction: row;               
                justify-content: space-evenly;
                
                margin-bottom: 40px;
                margin-top: 40px;
            }
        
      
            .act__grid_tile_medium_image{
                width: 100%;
                height:132px;
                object-fit: cover;
                 
            }
        .act__grid_tile_medium, .act__grid_tile_small, .act__grid_tile_small2{
             width: 336px;
            height: 198px;



        }
        .act__grid_tile_small2{
            margin-top: 0px;

        }
            .act__grid_tile_small_image{
                width: 100%;
                height:132px;
                object-fit: cover;
                 
            }
}
@media(min-width: 769px) and (max-width: 1247px){
    .lodging__grid_show_more{
        display: none;
    }
}

@media(min-width: 1440px){
    .lodging__most_wanted_tile{
        height: 143px;
    }
}
@media(min-width: 768px){
    .search__locate_button-mobile{
        display: none;
    }
}
@media(max-width:320px ){
    .search__filter-title{
        font-size: 14px;
    }
     .search__filter{
        width: auto;
     }
}