@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway.eot');
    src: url('fonts/Raleway.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway.woff2') format('woff2'),
         url('fonts/Raleway.woff') format('woff'),
         url('fonts/Raleway.ttf') format('truetype'),
         url('fonts/Raleway.svg#Raleway') format('svg');
    font-weight: normal;
    font-style: normal;
            }

*{
    font-family: Raleway;
}


#search{
    /*border: none;*/
}

                            /*search__locate*/

.search__locate{
    
    display: flex;
    
    background: #f2f2f2;
         
        width: 347px;
        height: 40px;
        border-radius: 5px;
        text-align:center;   
        justify-content: flex-start;
    align-items: center;

}
    #search__locate_icon{
        color: black;
        padding-right: 10px;
        padding-left: 10px;
       
        
    }
    .search__locate_form{
        
    }

    .search__locate_field{
        border: none;
        width: 200px;
        height: 35px;

    }
        .search__locate_button{
            background-color: #0065fc; 
            border: none;
            color: white;
            padding: 2px 20px;
            height: 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 0px 5px 5px 0px;
            font-size: 18px; 
            
            
        }


                            /*search__filter*/

    .search__filter_title{
        font-size: 18px;


    }

    .search__filter{
        display:flex;
        justify-content: flex-start;
        margin-right: 40%;
        margin-top: -80px;
        padding-left: 120px;
    }
        
        .search__filter > li{
            display: flex;
                                /*filter border*/

             background: #ffffff;
             border: 3px solid #f2f2f2;
             padding: 10px
             margin:10px;
             width:auto;
            height:auto;
            border-radius:40px;
            text-align:center;
            line-height: 20px;
            margin-left: -20px;

                                /*filter text*/   

            float : left; 
             font-size: 15px;
            font-weight: bold;
           margin-top: 30px;
           margin-right: 60px; 
           white-space: nowrap;
           text-decoration: none;
           color: black;
        }

        .search__filter a{
            margin-top: 5px; 
        }

                                /*icon circle*/

        #search__filter_icon{
            padding-top: 5%;

            background: #DEEBFF;
            width: 20px;
            height: 20px;
            padding: 10px;
            line-height: 20px;
            border-radius: 50%;

        }
                                    
                            /*link modifier*/
     a:link,  a:visited  { 
      
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      color: black;
    }

    li:hover,  li:active  {
        
      background-color: #0065fc;
      

    }

    a:hover{
        color: white;
    }





                                /* section info */

i :not(.search__locate_icon)
{
    color: #0065fc;
}

#search__info
{
    display: flex;
}


    #search__info_icon
    {
        font-size:12px;

        background: #ffffff;
        border: 1px solid #f2f2f2;
        width: 10px;
        height: 10px;
        padding: 5px;
        line-height: 10px;
        border-radius: 50%;
        text-align: center;
        margin-top: 7px;
    }

    #search__info_text
    { 
     padding-left: 8px; 
     font-size: 12px;
    }


  .header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
  }
    .header__logo{
        color: #0065FC;
        border: 1px solid black;
        width: 190px;
        height: 90px;

    }
    .header__nav{
        border: 1px solid black;
        width: 488px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;


        

    }
    
        .header__nav_lodging {
            border: 1px solid black;
            
            color: black;
            text-decoration: none;

            
            
             
            
        }
            .header__nav_lodging:hover{
                color: #0065FC;
                border-top: 3px solid red;
                height: 80px;
                vertical-align: middle;

                 
                
            }

            
            
        .header__nav_act {
            padding-top: 50px;

            border: 1px solid black;

            color:black;
            text-decoration: none;
        }
            .header__nav_act:hover{
                color: #0065FC;
            }
        .header__nav_sub {
            font-weight: bold;
            color:#0065FC;
            border: 1px solid black;
            text-decoration: none;
        }




.lodging{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 5%;
}
    .lodging__grid{
        background: #f2f2f2;
        width: 45%;
        height: 620px;
        padding: 10px;
        line-height: 20px;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
       border: 1px solid black;

    }  
        .lodging__grid_title{
            
            border: 1px solid black;



        }
            .lodging__grid_tile_container{
                padding: 5%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                height: 90%;
                border: 1px solid black;
            }
                .lodging__grid_tile{
                    display: flex;
                    flex-direction:column;

                    border: 1px solid black;
                    width: 30%;
                    height: 35%;
                    background: #ffffff;
                    border-radius: 5%
                }  
                    .lodging__grid_tile_image{
                        width: 96%;
                        margin-left: 2%;
                        margin-right: 3%;
                        margin-top: 2%;
                        border-radius: 5% 5% 0% 0%;

                        
                    }
                    .lodging__grid_tile_text{
                        font-size: 10px;
                        border: 1px solid black;
                        padding-left: 5% ;
                    }

                        .lodging__grid_tile_text > h1{
                           margin:2px;
                        }
                        .lodging__grid_tile_text > p{
                           margin:2px;
                        }
                    .lodging__grid_tile_notation{
                        border: 1px solid black;
                    }
    .lodging__most_wanted{
         background: #f2f2f2;
         border: 1px solid black;
         width: 35%;
          height: 620px;
          padding: 10px;
          line-height: 20px;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
    }        
        .lodging__most_wanted_title{
            border: 1px solid black;
        }
        .lodging__most_wanted_tile_container{
            border: 1px solid black;
            padding: 5%;

                display: flex;
                flex-direction: row; 
                flex-wrap: wrap;
                justify-content: center;
                justify-content: space-around;
                height: 90%;
              

        }
            .lodging__most_wanted_tile{
                display: flex;
                border: 1px solid black;
                height: 25%;
                width: 70%;
                