@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway.eot');
    src: url('fonts/Raleway.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway.woff2') format('woff2'),
         url('fonts/Raleway.woff') format('woff'),
         url('fonts/Raleway.ttf') format('truetype'),
         url('fonts/Raleway.svg#Raleway') format('svg');
    font-weight: normal;
    font-style: normal;
            }
*{
    font-family: Raleway;
}

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    align-content: flex-start;
      }
    .header__logo{
        color: #0065FC;
        
        width: 100px;
        height: 30px;
        object-fit: cover;

    }
    .header__nav{
        
        width: auto;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        text-decoration: none;
        
        margin-left: -40px;
    }
    
        .header__nav_lodging {
            margin-right: 50px;
            
            height: 100%;
            
            text-decoration: none;                                      
        }
            .header__nav_lodging a {
              
                display: block;
                
                color: black;
                text-decoration: none;
                

            }
                .header__nav_lodging a:hover{
                    color: #0065FC;
                    border-top: 3px solid #0065FC;
                                                     
                }

            
            
        .header__nav_act {
            margin-right: 50px;
            height: 100%;
            
            text-decoration: none;
        }
            .header__nav_act a{
                display: block;
                
                color: black;
                text-decoration: none;
                /*border: 1px solid black;*/
            }
                .header__nav_act a:hover{
                    color: #0065FC;
                        border-top: 3px solid #0065FC;
                }

        .header__sub {
            margin-right: 50px;
            height: 100%;           
            
            text-decoration: none;
        }
            .header__sub a {
                font-weight: bold;
                color: #0065FC;
                display: block;
                text-decoration: none;
                
            }
                

    
.search_all{
    margin-left: 20px;
    
}
#search{
    border: none;
}

                            /*search__locate*/

.search__locate{
    
    display: flex;
    
    background: #f2f2f2;
         
        width: 347px;
        height: 40px;
        border-radius: 5px;
        text-align:center;   
        justify-content: flex-start;
    align-items: center;

}
    #search__locate_icon{
        color: black;
        padding-right: 10px;
        padding-left: 10px;
       
        
    }
    .search__locate_form{
        
    }

    .search__locate_field{
        border: none;
        width: 200px;
        height: 35px;

    }
        .search__locate_button{
            background-color: #0065fc; 
            border: none;
            color: white;
            padding: 2px 20px;
            height: 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 0px 5px 5px 0px;
            font-size: 18px; 
            
            
        }


                            /*search__filter*/
 .filter-section{
    display: flex;
    
    width: auto;
    

 }

    .search__filter_title{
        font-size: 18px;
        
        margin-right: 20px;
        


    }
    .search__filter-container{
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        
        width: 960px;
        justify-content: space-around;
        align-content: space-between;
        
    }
    .search__filter{
        display: flex;
        border: 3px solid #F2F2F2;
        border-radius: 30px;
        position: relative;
        align-items: center;

    }

        .search__filter-icon{
            color: #0065FC;
            padding: 15px 12px;
            background-color: #DEEBFF;
            border-radius: 50%;
        }

        .search__filter-title{
            font-weight: bold;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 20px;
            list-style: none;
        }

   /* .search__filter{
        display:flex;
        justify-content: flex-start;
        margin-right: 40%;
        margin-top: -80px;
        padding-left: 120px;
    }
        
        .search__filter > li{
            display: flex;
                                

             background: #ffffff;
             border: 3px solid #f2f2f2;
             padding: 10px
             margin:10px;
             width:auto;
            height:auto;
            border-radius:40px;
            text-align:center;
            line-height: 20px;
            margin-left: -20px;

                                   

            float : left; 
             font-size: 15px;
            font-weight: bold;
           margin-top: 30px;
           margin-right: 60px; 
           white-space: nowrap;
           text-decoration: none;
           color: black;
        }

        .search__filter a{
            margin-top: 5px; 
        }*/

                                /*icon circle*/

        /*#search__filter_icon{
            padding-top: 5%;

            background: #DEEBFF;
            width: 20px;
            height: 20px;
            padding: 10px;
            line-height: 20px;
            border-radius: 50%;*/

        }
                                    
                            /*link modifier*/
     .search__filter a:link, .search__filter a:visited  { 
      
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      color: black;
    }

   .search__filter li:hover, .search__filter li:active  {
        
      background-color: #0065fc;
      

    }

    .search__filter a:hover{
        color: white;
    }

                                /* section info */

i :not(.search__locate_icon)
{
    color: #0065fc;
}

#search__info
{
    display: flex;
}


    #search__info_icon
    {
        font-size:12px;

        background: #ffffff;
        border: 1px solid #f2f2f2;
        width: 10px;
        height: 10px;
        padding: 5px;
        line-height: 10px;
        border-radius: 50%;
        text-align: center;
        margin-top: 7px;
    }

    #search__info_text
    { 
     padding-left: 8px; 
     font-size: 12px;
    }








.lodging{
    display: flex;
    justify-content: space-between;
    padding: 0%;
    
   

}
    .lodging__grid{
        background: #f2f2f2;
        width: 880px;
        height: 562px;
        /*padding: 10px;*/
        line-height: 20px;
        border-radius: 5%;
        
        
        /*border: 1px solid blue;*/ 
    }  
        .lodging__grid_title{
            
            
            margin-left: 5%;
            margin-top: 1%;
           



        }
            .lodging__grid_tile_container{
                padding: 3%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                height: 90%;
                margin-top: -35px;
                


                
            }
                .lodging__grid_tile{
                    display: flex;
                    flex-direction:column;
                    margin: auto;
                    
                    
                    width: 247px;
                    height: 200px;
                    background: #ffffff;
                    border-radius: 5%;
                    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.49);
                    
                }  
                    .lodging__grid_tile_image_container{
                        width: 236px;
                        height: 120px;
                       
                        margin-left: 2%;
                        margin-top: 1%;
                        border-radius: 5% 5% 0% 0%;
                        
                    }
                        .lodging__grid_tile_image{
                            width: 236px;
                            height: 120px;
                            object-fit: cover;
                            border-radius: 5% 5% 0% 0%;


                        }
                    .lodging__grid_tile_annex{
                       
                      
                       
                       margin-left: 17px;                        
                    }

                        .lodging__grid_tile_annex > h2{
                           margin:2px;
                           white-space: nowrap;
                           font-size: 15px;
                        }
                        .lodging__grid_tile_annex > p{
                           margin:2px;
                        }
                    
                    .lodging__grid_tile_notation > i{
                        font-size: 10px;
                    }
        .lodging__grid_show_more{
            margin-left: 5%;
            
            /*margin-top: -10px;*/


        }
                    
    .lodging__most_wanted{
         background: #f2f2f2;         
         width: 420px;
          height: 580px;         
          line-height: 20px;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
        
    }   
    .lodging__most_wanted_title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 38px;
        margin-right: 36px;
        
    }     
        .lodging__most_wanted_title > h2{
            
        }
            .lodging__most_wanted_title_icon > i{
                margin-top: 20px;
               
                font-size: 20px;
            }

        .lodging__most_wanted_tile_container{
            height: 100%;
            
            flex-wrap: wrap;
            justify-content: flex-end;
            padding-top: 9%;
            margin-top: -13%;
            

            

        }
  
            .lodging__most_wanted_tile{
                background: #ffffff;
                display: flex;
                height: 144px;
                width: 333px;
                border-radius: 5%;
               box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.49);
               
               

            }
                .lodging__most_wanted_tile_image{
                    
                    width: 127px;
                    height: 134px;                    
                    border-radius: 5% 0% 0% 5%;                   
                    object-fit: cover;                    
                    margin-left: 4px;
                    margin-top: 4px;
                }
                .lodging__most_wanted_tile_annex{
                    
                    width: 210px;
                    
                    margin-left: 20px;
                    
                }
                
                       .lodging__most_wanted_tile_annex > h2{
                        
                        font-size: 19px;
                        flex-wrap: wrap;
                        
                       } 
                       .lodging__most_wanted_tile_annex > p{
                       
                        /*margin-top: 10px;*/
                       }
                       .lodging__most_wanted_tile_notation > i{
                        font-size: 13px;
                        border: 1px solid black;
                        /*margin-top: 20px;*/
                       }
                    .lodging__most_wanted_tile_notation{
                        
                        padding-bottom: 3%;
                    }

.act{
    display: flex;
    justify-content: space-around;
    flex-direction: column;  
     
    
}
    .act__title{
       
         padding-left: 3%;
         align-items: flex-start;
         
    }
        .act__title > h2{
            
            
        }

.act__grid{
    
    height: 557px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    
   
    align-items: center;
    justify-content: space-around;
}   
    
        .act__grid_tileB{
           width: 300px;
           height:444px;
           
           box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.49);
           border-radius: 5%;
           background: #ffffff;
           
           
        } 
            .act__grid_tileB_image{
                width: 300px;
                height: 390px;
                border-radius: 5% 5% 0% 0%;
                object-fit: cover;
                
            }  
                
            .act__grid_tileB_text{
                margin-top: -5%;
                padding-left: 3%;
                border-radius: 0% 0% 5% 5%;
                white-space: nowrap;
                font-size: 13px;


            }
        .act__grid_tilesS{
            width: 304px;
           height:443px;
           display: flex;
           flex-wrap: wrap;
           align-content: space-between;
           /*border: 1px solid green;*/
           
        }   
            .act__grid_tile_medium{
                height: 236px;
                width: 304px;
                box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.49);
                border-radius: 5%;
                background: #ffffff;
            }
              
                .act__grid_tile_medium_image{
                    height: 180px;
                    width: 304px;
                    border-radius: 5% 5% 0% 0%;
                } 
                .act__grid_tile_medium_text{
                    margin-top: -5%;
                    padding-left: 3%;
                    border-radius: 0% 0% 5% 5%;
                    white-space: nowrap;
                    font-size: 15px;
                    
                }   
            .act__grid_tile_small{
                height: 164px;
                width: 304px;
                box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.49);
                border-radius: 5%;
               
            }
                .act__grid_tile_small_image{
                    height: 109px;
                    width: 304px;
                    object-fit: cover;
                    border-radius: 5% 5% 0% 0%;
                } 
                .act__grid_tile_small_text{
                     margin-top: -5%;
                    padding-left: 3%;
                    border-radius: 0% 0% 5% 5%;
                    white-space: nowrap;
                    font-size: 15px;
                }

.footer{
    height: 216px;
    background: #f2f2f2;
    
}
    .footer__text{
        
        display: flex;
        justify-content: space-around;


    }

        .footer__text > a:hover{
            color: black;
        }
        .footer__text_about{
            display: flex;
            flex-direction: column;
                        justify-content: flex-start;
        }  
            .footer__text_about li{
               list-style: none;
               text-decoration: none; 
            }
        .footer__text_lodging{
            display: flex;
            flex-direction: column;
           
            
        }    
            .footer__text_lodging li{
               list-style: none; 
               text-decoration: none;
            }         
        .footer__text_assist{
            display: flex;
            flex-direction: column;
            
        
        }
            .footer__text_assist li{
               list-style: none; 
               text-decoration: none;
            }  
            

            .footer__text a {
                list-style: none; 
               text-decoration: none;
               color: black;
            }


@media screen and (max-width: 767px) {
  
    .header{
        display: flex;
        flex-direction: column;
        
    }
        .header__nav{
            width: 100%;
            justify-content: space-between;
            border-bottom: 3px solid #f2f2f2;
        }
            .header__nav_lodging {
                width: 50%;
            }
            .header__nav_lodging >a {
                
                 
            }
            .header__nav_lodging a:hover{
                border: none;
                border-bottom: 3px solid #0065FC;
            }
            .header__nav_act{
                
                width: 50%;
                
                
            }
            .header__nav_act a:hover{
                border: none;
                border-bottom: 3px solid #0065FC;
            }

        .header__sub{
            display: none;
        }


   .filter-section{
        width: 440px;
        display: block;
            
        
    }
    .search__filter_title{
        width: 70px;
        height: auto;
        margin: 0%;

    }
   .search__filter-container{
        width:345px;
        height: auto;
        flex-wrap: wrap;
        justify-content: flex-start;
           }
    .lodging{
        justify-content: space-around;
        display: flex;
        flex-direction: column-reverse;
    }
        .lodging__grid{
            width: 100%;
            background: #ffffff;
            height: auto;

        }
            .lodging__grid_title{
                padding-top: 38px;
                padding-bottom: 18px;
                margin-left: 70px;

            }

            .lodging__grid_tile_container{
                width: 440px;
                height: auto;
                justify-content: flex-start;
                display: block;
                align-content: space-around;
                flex-direction: row;
                flex-wrap: nowrap;
                
            }
            .lodging__grid_tile{
                width: 336px;
                height: 198px;
                margin-bottom: 30px;
            }
                .lodging__grid_tile_image{
                    width: 325px;
                    height: 114px;
                }
        .lodging__most_wanted{
            width: 100%;
            border-radius: 0%;
        }
            .lodging__most_wanted_title > h2{
                margin-left: 45px;
            }
            .lodging__most_wanted_tile_container{
                justify-content: center;
                margin-left: 30px;
            }

    .act__grid{
        flex-wrap: wrap;
        align-content: space-between;
        height: auto;
        width: auto;
    }
        .act__title h2{
            margin-top: 5%;
            margin-left: 60px;
        }
        .act__grid_tileB{
            width: 336px;
            height: 198px;
            margin-bottom: 40px;
            
        }
            .act__grid_tileB_image{
                width:100%;
                height:132px;
                object-fit: cover;
                
            }
            .act__grid_tilesS{
                width: 336px;
                height: 403px
                justify-content: space-around;
                margin-bottom: 40px;
            }
        .act__grid_tile_medium{
            width: 336px;
            height: 198px;
            
        }
      
            .act__grid_tile_medium_image{
                width: 100%;
                height:132px;
                object-fit: cover;
                 
            }
        .act__grid_tile_small{
             width: 336px;
            height: 198px;

        }
            .act__grid_tile_small_image{
                width: 100%;
                height:132px;
                object-fit: cover;
                 
            }
}



    
